<template>
  <div id="table">
    <div class="main">
      <vue-progress-bar></vue-progress-bar>
      <span class="data_button">
        <button @click="setShortData(), getData()">
          Мало данных
        </button>
      </span>
      <span class="data_button" id="getBigData">
        <button @click="setBigData(), getData()">
          Много данных
        </button>
      </span>
      <span>
        <button class="addElement" @click="showForm=true, scrollToElement()">Добавить</button>
      </span>
      <div class="search">
        <span>Поиск по таблице: </span>
        <input type="text" v-model="search" class="search_input"/>
        <p> {{ search }}</p>
      </div>
     <table id="info-table" :key="this.Url">
          <thead>
            <tr>
              <th v-for="column in columns" :key="column">
                <a href="#" @click="sortBy(column)" :class="{ active: sortKey == column }"> {{ column }} </a>
                <span v-if=" (column==sortKey) & (order=='asc') " class="arrow">
                  <img src="@/assets/pic/arrow-up.png" alt="" height="20px" width="10px">
                </span>
                <span v-else-if=" (column==sortKey) & (order=='desc')" class="arrow">
                  <img src="@/assets/pic/arrow-down.png" alt="" height="20px" width="10px">
                </span>
              </th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <tr v-for="(p) in filteredData" :key="p.phone" class="tableRow">
              <td @click="getLine(p.id), scrollToElement()">{{p.id}}</td>
              <td @click="getLine(p.firstName), scrollToElement()">{{p.firstName}}</td>
              <td @click="getLine(p.lastName), scrollToElement()">{{p.lastName}}</td>
              <td @click="getLine(p.email), scrollToElement()">{{p.email}}</td>
              <td @click="getLine(p.phone), scrollToElement()">{{p.phone}}</td>
            </tr>
          </tbody>
     </table>
     <ul id="pagination-flickr">
        <li v-for="n in pageCount" :key="n"><a v-bind:key="n" @click="setPage(n)" :class="{active: pageNumber === n - 1}" href="#"> {{ n }} </a> </li>
      </ul>
      </div>


      <div class="userInfo" v-show="infoVisible">
        <p>Выбран пользователь <b id="currentUser">Sue Corson</b></p>
        <p class="fullDescription">
          Описание:
          <textarea id="currentDescription" class="descriptionArea">
          et lacus magna dolor...
          </textarea>
        </p>

        <p class="adress">
          Адрес проживания: <b id="currentAdress">9792 Mattis Ct</b>
        </p>
        <p>
          Город: <b id="currentTown">Waukesha</b>
        </p>
        <p>
          Провинция/штат: <b id="currentRegion">WI</b>
        </p>
          Индекс: <b id="currentIndex">22178</b>
      </div>


      <!-- Форма -->
      <form class="transparent" v-show="showForm" method="post" @submit="addUser($event)">
        <div class="form-inner">
          <h3>Добавление</h3>
          <label for="user_id">id </label>
          <input type="number" id="user_id" required>

          <label for="user_firstName">firstName</label>
          <input id="firstName" type="text" pattern="[a-zA-Z0-9А-Яа-я]+" required>
          
          <label for="user_lastName">lastName</label>
          <input type="text" id="lastName" pattern="[a-zA-Z0-9А-Яа-я]+" required>
          
          <label for="email">email</label>
          <input id="email" type="email" required>
          
          <label for="phone">phone</label>
          <input id="phone" type="text" pattern="^\+?[78][-\(]?\d{3}\)?-?\d{3}-?\d{2}-?\d{2}$" required>
          
          <!-- <button @click="showForm=false">Добавить в таблицу</button> -->
          <button @submit="this.showForm=false">Добавить в таблицу</button>
          <!-- <input type="submit" value="Добавить в таблицу" @submit="this.showForm=false"/> -->
        </div>
      </form>
  </div>
</template>

<script>

import Vue from 'vue'
import VueLodash from 'vue-lodash'
import lodash from 'lodash'
import VueProgressBar from 'vue-progressbar'

const options = {
  color: '#5ad192',
  failedColor: '#874b4b',
  thickness: '5px',
  transition: {
    speed: '0.2s',
    opacity: '0.6s',
    termination: 600
  },
  autoRevert: true,
  location: 'top',
  inverse: false
}

Vue.use(VueProgressBar, options)
Vue.use(VueLodash, { name: 'custom' , lodash: lodash })

Vue.component("modal", {
        template: "#modal-template"
      });

export default {
  name: 'Table',

  data: () => ({
    Url: 'http://www.filltext.com/?rows=32&id={number|1000}&firstName={firstName}&lastName={lastName}&email={email}&phone={phone|(xxx)xxx-xx-xx}&address={addressObject}&description={lorem|32}',
    shortData: '',
    pageNumber: 0,
    columns: ['id', 'firstName', "lastName", "email", "phone"],
    sortKey: 'id',
    ArrSlice: [],
    order: 'asc',
    search: '',
    size: 50,
    infoVisible: false,
    showForm: false,
  }),
  mounted(){
    this.getData()
  },
  methods: {
    setShortData(){
      this.Url = 'http://www.filltext.com/?rows=32&id={number|1000}&firstName={firstName}&lastName={lastName}&email={email}&phone={phone|(xxx)xxx-xx-xx}&address={addressObject}&description={lorem|32}';
    },
    setBigData(){
      this.Url = 'http://www.filltext.com/?rows=1000&id={number|1000}&firstName={firstName}&delay=3&lastName={lastName}&email={email}&phone={phone|(xxx)xxx-xx-xx}&address={addressObject}&description={lorem|32}';
    },
    // Получаем данные с сервера
    getData: async function(){
      this.$Progress.start()
      await fetch(this.Url)
        .then(response => response.json())
        .then(json => this.shortData=json)
      this.$Progress.finish()
    },
    setPage(n){
      // Установка страницы
      this.pageNumber = n - 1;
    },
    sortBy(sortKey){
      // Сортировка
      this.sortKey = sortKey;
      if (this.order === 'asc') {
        this.order = 'desc';
      } else {
        this.order = 'asc';
      }      
    },
    getLine(n){
      for (let i=0; i<this.ArrSlice.length; i++){
        let val = Object.values(this.ArrSlice[i]);
        for (let a of val){
          if (a==n){
            // Получение и вывод имени и описания пользователя
            let userName = Object.values(this.ArrSlice[i])[1];
            let userSurname = Object.values(this.ArrSlice[i])[2]
            let userDescription = Object.values(this.ArrSlice[i])[6];
            let userAdressObject = Object.values(this.ArrSlice[i])[5];

            let userShow = document.getElementById('currentUser');
            let userArea = document.getElementById('currentDescription');
            userShow.innerHTML = `${userName} ${userSurname}`;
            userArea.innerHTML = `${userDescription}`;

            // Получение и вывод адреса из объекта
            let userAdressB = document.getElementById('currentAdress');
            let userTownB = document.getElementById('currentTown');
            let userRegionB = document.getElementById('currentRegion');
            let userIndexB = document.getElementById('currentIndex');
            userAdressB.innerHTML = `${Object.values(userAdressObject)[0]}`;
            userTownB.innerHTML = `${Object.values(userAdressObject)[1]}`;
            userRegionB.innerHTML = `${Object.values(userAdressObject)[2]}`;
            userIndexB.innerHTML = `${Object.values(userAdressObject)[3]}`;
          }
        }
      }
      this.infoVisible = true;
    },
    getSlisedArr(Arr){
      this.ArrSlice = Arr;
    },
    addUser(event){
      event.preventDefault();
      this.showForm = false;
      // Получение данных из полей формы
      let userIdValue = document.getElementById('user_id').value;
      let firstNameValue = document.getElementById('firstName').value;
      let lastNameValue = document.getElementById('lastName').value;
      let emailValue = document.getElementById('email').value;
      let phoneValue = document.getElementById('phone').value;
      let newUser = { 
        address: 'Some Adress',
        description: 'Some Description',
        email: emailValue,
        firstName: firstNameValue,
        id: userIdValue,
        lastName: lastNameValue,
        phone: phoneValue
      }
      this.shortData.push(newUser);
    },
    scrollToElement(){
      this.$nextTick(function(){
        window.scrollTo(0, 1000);
      })
    },
  },
  computed:{
    pageCount(){
      let l = this.shortData.length,
          s = this.size;
      return Math.ceil(l/s);
    },
    paginatedData(){
      const start = this.pageNumber * this.size,
              end = start + this.size
      let Arr = this.shortData.slice(start, end);
      let OrderedArr = this._.orderBy(Arr, `${this.sortKey}`, [`${this.order}`]);
      this.getSlisedArr(OrderedArr);
      return OrderedArr;
    },
    // Фильтрация исходя из поиска
    filteredData(){
      const s = this.search.toLowerCase();
      return this.paginatedData.filter(p => {
            return Object.values(p).some(m => m.toString().toLowerCase().includes(s));
      });
    }
  },
}
</script>





<style scoped src="@/assets/style.css">
</style>
