/* Стилизация списка и таблицы */

ul{
  padding: 4px 4px;
  border: 1px solid black;
}
  
li{
  list-style-type:none;
  padding:4px 4px;
}
  
li:hover{
  background-color:#eee;
}
  
li:nth-child(2n){
  background-color:#ddd;
}
  
li:nth-child(2n):hover{
  background-color:#ccc;
}
  
button{
  width:150px;
  height:40px;
  background-color:azure;
}
  
button:hover{
  cursor:pointer;
}

button:hover:disabled{
  cursor:not-allowed;
}

table {
    width: 1000px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
}

tr {
    background-color:#eef;
    border: 1px solid black;
}

td {
    font-size: 15px;
    padding: 5px;
}

td:hover {
  cursor: pointer;
}

thead {
    padding-bottom: 25px;
}

th {
    height: 50px;
    margin: 10px;
    padding: 0;
}

/* Стилизация кнопок пагинации */

#pagination-flickr {
    border:0; 
    margin-top: 20px; 
    padding:0;
}

#pagination-flickr li{
    border:0; margin:0; padding:0;
    font-size:15px;
    list-style:none;
}
#pagination-flickr a{
    border:solid 1px #DDDDDD;
    margin-right:5px;
}
#pagination-flickr .previous-off,
#pagination-flickr .next-off {
    color:#666666;
    display:block;
    float:left;
    font-weight:bold;
    padding:6px 8px;
}
#pagination-flickr .next a,
#pagination-flickr .previous a {
    font-weight:bold;
    border:solid 1px #FFFFFF;
}
#pagination-flickr .active{
    color:#ff0084;
    font-weight:bold;
    display:block;
    float:left;
    padding:4px 6px;
}
#pagination-flickr a:link,
#pagination-flickr a:visited {
    /* color:#0063e3; */
    display:block;
    float:left;
    padding:3px 6px;
    text-decoration:none;
}
#pagination-flickr a:hover{
    border:solid 1px #666666;
}

/* Стилизация верхних кнопок */

a {
  text-decoration: none;
}

.arrow {
  padding-top: 5px;
  margin-left: 10px;
  margin-top: 5px;
}

.data_button button {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
}

#getBigData {
  margin-left: 55px;
}

.userInfo {
  margin-top: 105px;
  margin-left: 50px;
}

.adress {
  margin-top: 55px;
}

.fullDescription{
  display: flex;
}

.descriptionArea {
  margin-left: 30px;
  width: 300px;
  height: 200px;
}

.addElement{
  margin-left: 450px;
}

/* Форма */

.transparent {
  position: relative;
  max-width: 400px;
  padding: 60px 50px;
  margin: 50px auto 0;
  background-image: url(https://html5book.ru/wp-content/uploads/2017/01/photo-roses.jpg);
  background-size: cover;
}
.transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right bottom, rgba(43, 44, 78, .5), rgba(104, 22, 96, .5));
}
.form-inner {
  position: relative;
}
.form-inner h3 {
  position: relative;
  margin-top: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
}
.form-inner h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 60px;
  background: #1762EE;
}
.form-inner label {
  display: block;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, .6);
  text-transform: uppercase;
  font-size: 14px;
}
.form-inner input {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 10px 0 15px;
  border-width: 0;
  line-height: 40px;
  border-radius: 20px;
  color: white;
  background: rgba(255, 255, 255, .2);
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
#custom-checkbox+label {
  position: relative;
  margin: 20px 0;
  text-transform: none;
  cursor: pointer;
}
#custom-checkbox+label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
  background: white;
}
#custom-checkbox:checked+label:before {
  background: #1762EE;
}
#custom-checkbox:checked+label:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  left: 20px;
  top: 9px;
  background: white;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
.form-inner button {
  background: #d095f5;
  margin-top: 50px;
}

/* Поиск */

.search_input {
  margin-left: 20px;
}