<template>
  <div id="app">
    <Table></Table>
  </div>
</template>

<script>
import Table from './components/Table'

export default {
  name: 'App',
  components: {
    Table
  }
};
</script>





<style>

</style>
